﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Funcionario.aspx.cs" Inherits="Web.Funcionario" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
	  <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
     <hr />
                 <asp:Panel ID="panelBotoes" runat="server" Visible="false">
    <div class="container-fluid">
        <asp:Button ID="btnListarFuncionarios" class="btn btn-primary" runat="server" Text="Listar Funcionários" />
         <asp:Button ID="btnNovoFuncionario" class="btn btn-success" runat="server" Text="Novo Funcionário"  />
     </div>
		</asp:Panel>
				</ContentTemplate>
	</asp:UpdatePanel>
</asp:Content>
