﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Login.Master" AutoEventWireup="true" CodeBehind="Sair.aspx.cs" Inherits="Web.Sair" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	<asp:Button ID="btnSair" runat="server" Text="Button" OnClick="btnSair_Click" />
</asp:Content>
